body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.sheet-page {
  width: 100%;
  min-height: 100vh;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top center;
  page-break-after: always;
}

.page1 { background-image: url("https://raw.githubusercontent.com/Brahmzaroth/changeling-ctl2e-sheet/refs/heads/main/images/Background_sheet%201.png"); }
.page2 { background-image: url("https://raw.githubusercontent.com/Brahmzaroth/changeling-ctl2e-sheet/refs/heads/main/images/Background_sheet%202.png"); }
.page3 { background-image: url("https://raw.githubusercontent.com/Brahmzaroth/changeling-ctl2e-sheet/refs/heads/main/images/Background_sheet%203.png"); }
.page4 { background-image: url("https://raw.githubusercontent.com/Brahmzaroth/changeling-ctl2e-sheet/refs/heads/main/images/Background_sheet%204.png"); }
